# system env variables for webapp
#
### Usage examples
## Apache2
# use follows construction inside /etc/apache2/envvars:
#   set -a
#   . /path/to/this/file
#   set +a
#
## Systemd
# use follows into *.service file:
#   [Service]
#   EnvironmentFile=/path/to/this/file
#
MAIL_SENDER_SITE_HOST="my.site.com"
MAIL_SENDER_SITE_PORT="80"
MAIL_SENDER_ADDRESS="smtp.domain.com"
MAIL_SENDER_PORT="465"
MAIL_SENDER_USERNAME="robosender@mydomain.com"
MAIL_SENDER_PASSWORD="qwerty"
SECRET_KEY_BASE="'rake secret' must appear here"
DEVICE_SECRET_KEY_BASE="'rake secret' must appear here again"
